@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}
@font-face {
  font-family: "IBMPlexSansArabicThin";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../../assets/fonts/IBMPlexSansArabicThin.ttf");
}
@font-face {
  font-family: "IBMPlexSansArabicExtraLight";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../../assets/fonts/IBMPlexSansArabicExtraLight.ttf");
}
@font-face {
  font-family: "IBMPlexSansArabicLight";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../../assets/fonts/IBMPlexSansArabicLight.ttf");
}
@font-face {
  font-family: "IBMPlexSansArabicRegular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../assets/fonts/IBMPlexSansArabicRegular.ttf");
}
@font-face {
  font-family: "IBMPlexSansArabicMedium";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../assets/fonts/IBMPlexSansArabicMedium.ttf");
}
@font-face {
  font-family: "IBMPlexSansArabicSemiBold";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../../assets/fonts/IBMPlexSansArabicSemiBold.ttf");
}
@font-face {
  font-family: "IBMPlexSansArabicBold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../assets/fonts/IBMPlexSansArabicBold.ttf");
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@media (prefers-color-scheme: dark) {
}
* {
  @apply font-Medium;
}
h1,
h2,
h3,
p,
a,
.mantine-Menu-itemLabel,
label {
  @apply text-black;
}
p {
  color: inherit;
}
.swiperAuth .swiper-button-next,
.swiperAuth .swiper-rtl .swiper-button-prev {
  @apply rtl:rotate-180 size-[32px] after:size-[100%] after:content-[''] after:bg-contain top-auto left-auto right-auto bottom-9 end-[54px];
}
.swiperAuth .swiper-button-next::after {
  background-image: url("/icons/arrowRight.svg");
}
.swiperAuth .swiper-button-prev,
.swiperAuth .swiper-rtl .swiper-button-next {
  @apply size-[32px]  top-auto left-auto right-auto bottom-9  rtl:rotate-180 end-[120px] size-[32px] after:size-[100%] after:content-[''] after:bg-contain;
}
.swiperAuth .swiper-button-prev::after {
  background-image: url("/icons/arrowLeft.svg");
}
.swiperAuth .swiper-slide h2 {
  transform: translateY(15px);
  transition: 0.8s;
}
.swiperAuth .swiper-slide-active h2 {
  @apply translate-x-0;
}
.swiperAuth .swiper-pagination {
  @apply !w-fit !bottom-[38px] !top-auto !left-[50%] translate-x-[-50%];
}
.swiperAuth .swiper-pagination-bullet {
  @apply opacity-100 bg-[#b6bfc6];
}
.swiperAuth .swiper-pagination-bullet-active {
  @apply bg-white;
}
.offerSlider .swiper-pagination-bullet {
  @apply opacity-100 bg-[#b6bfc6];
}
.offerSlider .swiper-pagination-bullet-active {
  @apply bg-white;
}
.headTitle {
  @apply text-xl lg:text-[32px] font-medium font-Medium;
}
.swiperList .swiper-button-disabled {
  @apply opacity-70 cursor-not-allowed;
}
.swiperListBooking:not(:first-of-type) .linkView {
  display: none;
}
.swiperListBooking:first-of-type .headBooking {
  @apply lg:items-center;
}
.inputChat {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  align-items: center;
  padding-top: 60px;
  padding: 50px 40px 0px;
}
.inputChat .boxInput {
  flex: 1;
  position: relative;
  border-radius: 10px;
  background: #efefef;
}
.inputChat .boxInput .boxImages {
  padding: 12px;
  display: flex;
  gap: 10px;
  border-bottom: 2px #cccccc dotted;
  flex-wrap: wrap;
}
.inputChat .boxInput .textInput textarea {
  border-radius: 10px;
  background: #efefef;
  border: none;
  height: 34px;
  width: 100%;
  outline: none;
  padding: 12px 40px 12px 12px;
}
@media (max-width: 768px) {
  .hideScroll {
    scrollbar-width: none;
    padding-bottom: 10px;
  }
}
.map-label {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

  @apply text-base text-nowrap font-Regular text-center rounded-xl px-2 py-1 text-white bg-green absolute -top-14 left-1/2 -translate-x-1/2;
}
.map-label::before {
  content: "";
  bottom: -5px;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  @apply border-t-green border-[8px] border-b-transparent border-x-[8px] border-x-transparent left-1/2 absolute -bottom-4;
}
/*phone input*/
li.search {
  @apply !border-b relative border-[#CCCCCC] !p-0 !ps-8 before:size-3 bg-red  before:absolute before:top-1/2 before:-translate-y-1/2 before:start-5;
}
li.search::before {
  content: "";
  background-image: url("/icons/search.svg");
  background-size: 12px;
}
.react-tel-input .country-list .search-emoji {
  display: none;
}
.react-tel-input .country-list .country {
  @apply h-10  flex items-center !ps-4 w-full mx-auto max-w-full border-b border-[#CCCCCC];
}
.fc-h-event {
  @apply bg-transparent border-none flex items-center justify-center;
}

.fc-scrollgrid-liquid {
  @apply !border-none;
}
.fc-timeline-event-harness {
  @apply h-full;
}
.fc .fc-resource-timeline-divider {
}
.fc-resource-timeline {
  @apply border border-green overflow-hidden rounded-3xl;
}
.fc
  .fc-scrollgrid
  tbody
  .fc-scrollgrid-section-body
  td:first-of-type
  .fc-scroller-harness.fc-scroller-harness-liquid
  .fc-scroller {
  @apply !overflow-hidden rounded-b-3xl;
}
.fc-timeline-slot-frame {
  @apply !justify-center;
}
.fc .fc-bg-event {
  @apply !bg-transparent !opacity-100;
}
.fc .fc-toolbar.fc-header-toolbar {
  @apply mb-3;
}
.fc-toolbar-chunk div {
  @apply flex items-center gap-5 w-fit;
}
.fc-toolbar-chunk div .fc-button {
  transition: 0.5s;
  @apply rounded-full w-7 h-7 min-w-7 min-h-7 p-0 flex items-center justify-center bg-transparent border-none;
}
.fc-toolbar-chunk div .fc-button span::before {
  content: "";
  background-image: url("/icons/arrowRightBlack.svg");
  background-size: 24px;
  @apply w-6 h-6 block absolute  bg-no-repeat;
}
.fc-toolbar-chunk .fc-prev-button span::before {
  transform: rotate(180deg);
}
.fc-toolbar-chunk div .fc-button:hover {
  box-shadow: 0px 0px 5px rgba(162, 162, 162, 0.422);
  @apply bg-transparent;
}
.fc .fc-toolbar-title {
  @apply text-base lgl:text-2xl m-0 font-SemiBold;
}
.fc-scrollgrid .fc-scroller {
  overflow-y: auto !important;
}
.fc-scrollgrid thead .fc-scrollgrid-section td.fc-resource-timeline-divider {
  box-shadow: 7px 0 15px #9d1313;
  @apply w-0 border-none;
}
.fc .fc-datagrid-header .fc-datagrid-cell-frame {
  box-shadow: 7px 0 15px #0000001a;
  @apply rounded-t-3xl;
}
.fc-scrollgrid
  tbody
  .fc-scrollgrid-section
  td:first-of-type
  .fc-scroller-harness {
  box-shadow: 7px 0 15px #0000001a;
  @apply rounded-b-3xl;
}
.fc .fc-scrollgrid-section-liquid > td {
  border: none;
}
.fc .fc-scrollgrid-section-footer > *,
.fc .fc-scrollgrid-section-header > * {
  border-bottom-width: 0px;
}
/*mapBefore*/
.mapBefore::before {
  background-image: url("../../assets/images/map.png");
  background-size: auto;
  z-index: 0;
}
.mapBefore2::before {
  background-image: url("../../assets/images/map.png");
  background-size: cover;
  z-index: 0;
}
.TopBarChart:hover .nameLine {
  @apply block;
}
.mantine-Stepper-step[data-completed="true"] .mantine-Stepper-stepLabel {
  @apply text-green;
}
.mantine-InputWrapper-error {
  @apply text-sm  ps-6 text-red relative before:start-0 before:bg-no-repeat before:top-1/2 before:-translate-y-1/2 before:absolute before:size-5 before:content-[''] before:bg-contain;
}
.mantine-InputWrapper-error::before {
  background-image: url("/icons/error.svg");
}

:root {
  --toastify-color-success: #22c55e;
  --toastify-color-error: #ef4444;
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-error: var(--toastify-color-error);
}

.Toastify__toast {
  border-radius: 0.5rem;
  padding: 16px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.Toastify__toast--error {
  background: white;
  color: #1f2937;
  border: 1px solid #fee2e2;
}

.Toastify__toast--success {
  background: white;
  color: #1f2937;
  border: 1px solid #dcfce7;
}

.Toastify__close-button {
  color: #6b7280;
  opacity: 1;
}

.Toastify__toast-icon {
  margin-right: 12px;
}

.AccordionFAQ
  .mantine-Accordion-item[data-active]
  .mantine-Accordion-chevron
  svg {
  color: white;
}
.virtuoso-container {
  @apply mt-1
}
/* Target the Virtuoso scroller */
[data-virtuoso-scroller="true"]::-webkit-scrollbar {
  width: 8px; /* Adjust scrollbar width */
  /* display: none; */
  @apply rounded-md;
}

[data-virtuoso-scroller="true"]::-webkit-scrollbar-track {
  background: #f0f0f0; /* Background of the track */
  @apply rounded-md;
}

[data-virtuoso-scroller="true"]::-webkit-scrollbar-thumb {
  @apply bg-green rounded-md;
  /* display: none; */
}

[data-virtuoso-scroller="true"]::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Scrollbar thumb hover color */
}

/* Optional: Handle horizontal scrollbar if needed */
[data-virtuoso-scroller="true"]::-webkit-scrollbar:horizontal {
  height: 8px; /* Adjust height for horizontal scrollbar */
}
.OfferSwiper .swiper-pagination {
  @apply absolute h-3 flex items-center justify-center bottom-3 left-1/2 -translate-x-1/2 translate-y-1/2;
}
.OfferSwiper .swiper-pagination .swiper-pagination-bullet{
  @apply w-[5px] h-[5px];
}
.OfferSwiper .swiper-pagination .swiper-pagination-bullet-active{
  @apply  bg-green;
}